<form class="" action="/customers" method="post">

  <label for="">Customer name</label>
  <input type="text" name="customer_name" value="">

  <label for="">Customer Phone</label>
  <input type="text" name="customer_phone" value="">

  <label for="">Customer Type preference</label>
<select class="" name="customer_type">
  <option value="1" >Cat</option>
  <option value="2">Dog</option>
</select>

  <label for="">Customer breed preference</label>
  <input type="text" name="breed_pref" value="">

  <button type="submit" name="button">Add</button>

</form>

<h3>Customer List:</h3>

<% @customers.each do |customer| %>
<div class="">
  <h4>Customer: <%= customer.name %></h2>
  <p><%= customer.phone %></p>
  <p>Wants a: <%= @animal_types[customer.animal_pref.to_i] %></p>
  <p>Breed: <%= customer.breed_pref %></p>
</div>
<% end %>
